/* bleu clair = #20C4CB, bleu fonce = #368F8B, gris = #E8E8E8, noir = #333333, rouge = #FF533D;
/* police : lobster,

*/

body {
  padding: 0;
  margin: 0;
}

.title{
  position: absolute;
  z-index: 15;
  left: 66px;
  top: -7px;
  font-size: 45px;
  line-height: 39px;
  font-weight: 500;
  text-decoration: none;
 flex-shrink: 0;
 overflow: hidden;
 font-family: 'Baloo Da', cursive;
 text-shadow: 4px 4px #DCDCDC;
 }


a,a:hover  {
  text-decoration: none;
}


 .user {
   color: #168699;
 }


a,a:hover  {
  text-decoration: none;
}

/* MENU */


.ban {
   background-image: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
  height:  720px;
  position: relative;
}
.menu {
  height:70px;
  width: auto;
  background-color: #FFFFFF;
  opacity: 0.9;
  border-bottom: 6px solid  #168699;
}

.menu .a {
  color: #333333;
  float: right;
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 2%;
  border-bottom: 4px solid #FFFFFF;
}

.a:hover {
  padding-bottom: 7px;
   border-bottom: 4px solid #168699;
   transition: border-bottom 1s;
}

button {
  margin-top: -8px;
}

.btn-info:hover {
  
}

.btn-default {
  
}

.container-fluid {
  height: 350px;
  width: 350px;
}

.inner {
  height: 650px;
  width: 680px;

}



.flexbox {
    display: inline-flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 120%;
}

.items1 {
   display: flex;
   position: absolute;
   z-index: 11;
   margin-left: 2%;
   margin-top: 2%;
   border-radius: 1%;
   box-shadow: 2px 2px 5px 0px #333333;
}


.items1:hover {
  animation: animation 3s;
}



.items3 {
  display: flex;
  z-index: 13;
  position: absolute;
   margin-left: 4%;
   margin-top: 4%;
   border-radius: 4%;
   box-shadow:  0px 3px 4px 0px #333333;
}




.contenue h1 {
  font-size: 65px;
  margin-top: -25%;
  margin-left: 5%;
  position: relative;
}

.contenue p {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 30px;
  height: 100px;
  width: 800px;
  padding-right: 4%;
}

.icons p {
  font-size: 8px;
  position: absolute;
  z-index: 14;
  margin-left: 23%;
  margin-top: 15%;
}

p  .fa-share{
  font-size: 32px;
  animation: lumiere 8s infinite;
}

.img_ics {
  margin-top: 8%;
  margin-left: 3%;
}



.img_ics img {
  margin-left: 3%;
  border: solid 3px #168699;
  border-radius: 50%;
  opacity: 0.9;
}
.flexbox img {
    border-radius: 2%;
}

@keyframes animation {
  0% {
    margin-left: 1%
  }
  100% {
    margin-left: -12%;
  }
}


@keyframes lumiere {
  0% {
    color: black;
  } 
  30% {
    color: red;
  }
  60% {
    color: black;
  }
  90% {
    color: red;
  }
}












/* CONTENUE */ 


.contenu1{
  display: flex;
  flex-direction: row;
  height: 700px;
  padding-top: 100px;
}



.leftside{
  text-align: left;
  margin-left: 100px;
  margin-top: 60px;

}

.rightside{
  margin-right: 125px;
  margin-top: 82px;
}

h2{
  font-weight: bold;
  font-size: 44px;
  line-height: 0.9em;
  margin-bottom: -20px;
  margin-left: 50px;
}

.para{
  font-size: 20px;
font-weight: lighter;
margin-left: 51px;
padding-top: 54px;
}


ul {
  list-style: none;
}

.number{
 color: #368F8B;
 font-weight: bold;
 font-size: 70px;
 line-height: 0.9em;
 margin-bottom: -20px;
 margin-top: -15%;
 margin-left: 14%;
}

.member{
  color:#368F8B;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 1.25;
  display: block;
}

.label{
  font-size: 15;
}

.contenu2{
  color: white;
  background-color: #168699;
  height: 340px;
  width: 100%;
  padding-right: 16px;
  margin-left: -8px;
}


.para1{
  margin: 160px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 4.2;
  text-align: left;
  margin-top: -27px;
}

.blockexplication{
 display: flex;
 margin-top: -144px;
 margin-left: 152px;
 padding-left: 85px;
}

.fa-share, .fa-user, .fa-hand-o-up {
  font-size: 70px;
  font-size: 70px;
display: flex;
margin-left: 76px;
padding-bottom: 25px;
}

.share1{
  position: relative;
  right: 58px;
}

.share2{
  position: relative;
  left: 53px

}

.share3{
  position: relative;
  left: 136px;
}
